@font-face {
  font-family: 'Abhaya Libre';
  font-style: normal;
  font-weight: 400;
  src: local('Abhaya Libre Regular'), local('AbhayaLibre-Regular'), url(https://fonts.gstatic.com/s/abhayalibre/v5/e3tmeuGtX-Co5MNzeAOqinEQfEnR.woff) format('woff');
}
@font-face {
  font-family: 'Abhaya Libre';
  font-style: normal;
  font-weight: 700;
  src: local('Abhaya Libre Bold'), local('AbhayaLibre-Bold'), url(https://fonts.gstatic.com/s/abhayalibre/v5/e3t5euGtX-Co5MNzeAOqinEYx2zCrdZP.woff) format('woff');
}
